/* 캘린더 설정을 위한 CSS*/
/* 캘린더 기본 설정 */
.date-time-calendar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 325px;
  background: #767676;
}

/* 네비게이션 */
.date-time-calendar .react-calendar__navigation {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  padding: 5px;
}

/* 네비게이션 타이틀 */
.date-time-calendar .react-calendar__navigation__label {
  font-weight: 700;
  font-size: 20px;
  text-align: start;
}

/* 네비게이션 버튼 */
.date-time-calendar .react-calendar__navigation__arrow {
  font-weight: 500;
  font-size: 24px;
  min-width: 24px;
}

.date-time-calendar .react-calendar__navigation__prev-button {
  position: absolute;
  right: 50px;
}

/* 요일 */
.date-time-calendar .react-calendar__month-view__weekdays abbr {
  text-decoration: none;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 14px;
  color: #ffffff;
  height: 32px;
}

/* 날짜 */
.date-time-calendar .react-calendar__tile {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 46px;
  height: 38px;
  color: #ffffff;
  position: relative;
  z-index: 0;
}

/* 지난달과 다음달 날짜 */
.date-time-calendar .react-calendar__month-view__days__day--neighboringMonth {
  color: #ffffff;
}

/* 선택한 날짜 */
.date-time-calendar
  .react-calendar__month-view__days__day:enabled:hover::before,
.date-time-calendar .react-calendar__tile--active::before {
  content: '';
  background-color: #8487fb;
  border-radius: 9999px;
  width: 34px;
  height: 34px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.date-time-calendar
  .react-calendar__month-view__days__day:enabled:hover::before {
  background-color: #2227f7;
}
