@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply antialiased;
  }

  body {
    @apply bg-brand text-white;
  }

  input:focus {
    outline: none;
    border: none;
  }

  input:hover {
    outline: none;
    border: none;
  }
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/PretendardVariable.woff2') format('woff2');
  font-weight: 100 900;
  font-display: swap;
}

:root {
  --font-pretendard: 'Pretendard', sans-serif;
}

html {
  font-family: var(--font-pretendard);
}

/* scrollbar style */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 24px;
}

::-webkit-scrollbar-thumb {
  background: #2227f7;
  border-radius: 24px;
  border: 1px solid #1e1e1e;
}

.scrollbar-hidden {
  overflow-x: auto;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  scrollbar-width: none;
}
